@import url('https://fonts.googleapis.com/css?family=Poppins');

.title  {
  
  color: #333333;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 62px;
}


.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.registration-main {
  background-color: #f7f7f7;
  margin: auto;
  margin-top: 2rem;
}
.registration-app-window {
  margin:1.3rem;
  border: 1px solid silver;
}


input, select {
  border-color: #d8d8d8;
  border-radius: 0;
}
/*_________________________________________________________________________*/
.ng-pristine.ng-invalid.ng-touched ~ label {
  display: block;
  margin: 0;
  content: 'Field Required!';
  text-transform: uppercase;
  color: darkred;
}

.form-group .ng-invalid.ng-touched {
  border-color: darkred;
  box-shadow: 0 0 1px 1px darkred !important;
  background: white url("../../assets/error.png") no-repeat right !important;
}

.form-group .ng-valid.ng-dirty.ng-touched {
  border-color: #e77f1d;
  box-shadow: 0 0 1px 1px #e77f1d;
  background: white url("../../assets/ok.png") no-repeat right !important;
}

.ignore .error input {
  border-color: darkred;
  box-shadow: 0 0 1px 1px darkred;
  background: url("../../assets/error.png") no-repeat right !important;
}

.error p {
  color: darkred;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 0;
}

.ignore .valid input {
  border-color: #e77f1d;
  box-shadow: 0 0 1px 1px #e77f1d;
  background: url("../../assets/ok.png") no-repeat right !important;
}

button {
  background-color: #e77f1d;
  border-color: #fff;
  border: solid 2px;
}

button:hover {
  background-color: #e76416;
  border: 0;
}
button:disabled {
  background-color: #ecaa00;
  border: 0;
}



.right {
  height: 800px;
  background-image: url('../../assets/bgI.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.social {
  font-size: .8rem;
  align-items: center;
}

.sign-in-button {
  cursor: pointer;
  display: inline-block;
  padding: .2rem .5rem;
  border: solid 1px;
  margin: .1rem
}

.sign-in-button:hover {
  box-shadow: 0 0 2px 1px;
}

.fb {
  border-color: #4267B2;
  color: #4267B2 !important;
}

.g-plus {
  border-color: #DE5E53;
  color: #DE5E53 !important;
}

.entryEmail a {
  cursor: pointer;
}

form > div {
  order: 10;
}

.first-item {
  order: 1 !important;
}

.field-require:after {
  content: '*';
  color: darkred;
  vertical-align: super;
}

#footer-signin, #footer-signin a {
  color: #e77f1d;
  font-size: .8rem;
  text-decoration: none;
}


