@import "../registration.component.css";
select {
  /*background: white url("/assets/down.png") no-repeat 90%;*/
  background-color: white;
  overflow: hidden;
  width: 100%;
}
.select-holder{
  overflow: hidden;
  border-right-color: #4267B2;
}
