<h2 class="mt-4 text-center text-uppercase">
  TELL US MORE
</h2> <h5 class="text-center">About: <span>{{registrationForm.get('companyName').value}}</span></h5>
<form [formGroup]="registrationForm">
  <div class="form-group">
    <label for="country" class="field-require text-uppercase">
      Country:
    </label>
    <select name="country" id="country" class="form-control" formControlName="country">
      <option disabled selected value> -- start type eg. US --</option>
      <option *ngFor="let kraj of countryList"
              [value]="kraj.code">
        {{ kraj.code }} | {{ kraj.name }}
      </option>

    </select>
  </div>
  <div class="form-group">
    <label class="field-require" for="timeZone">TIMEZONE</label>

    <select name="timeZone"
            id="timeZone"
            class="form-control"
            formControlName="timeZone">
      <option disabled selected value> -- select an option --</option>
      <option value="1">Zone 1</option>
      <option value="2">Zone 2</option>
      <option value="3">Zone 3</option>
      <option value="4">Zone 4</option>
      <option value="5">Zone 5</option>
      <option value="6">Zone 6</option>
      <option value="7">Zone 7</option>
      <option value="8">Zone 8</option>
      <option value="9">Zone 9</option>
      <option value="10">Zone 10</option>
    </select>
  </div>
  <div class="form-group">
    <label class="field-require" for="businessSector">BUSINESS SECTOR:</label>
    <select name="businessSector"
            id="businessSector"
            class="form-control"
            formControlName="businessSector"
    >
      <option disabled selected value> -- select an option --</option>
      <option value="1">B Sector 1</option>
      <option value="2">B Sector 2</option>
      <option value="3">B Sector 3</option>
      <option value="4">B Sector 4</option>
      <option value="5">B Sector 5</option>
      <option value="6">B Sector 6</option>
      <option value="7">B Sector 7</option>
      <option value="8">B Sector 8</option>
      <option value="9">B Sector 9</option>
      <option value="10">B Sector 10</option>
    </select>
  </div>
  <div class="form-group">
    <label for="website" class="field-require text-uppercase">
      add your business website
    </label>
    <input id="website"
           name="website"
           type="text"
           class="form-control"
           placeholder="eg: www.some.business.com"
           formControlName="website">
  </div>
  <div class="d-flex  align-items-start flex-wrap">
    <p class="mr-auto" id="footer-signin">
      Already have account?<br>
      <a href="#">Sign in here.</a>
    </p>
    <div class="d-flex justify-content-end flex-wrap ">
      <button type="button"
              class="btn btn-primary  mr-2"
              routerLink="../step1">
        Back
      </button>
      <button type="button"
              (click)="registrationForm.reset()"
              class="btn btn-primary  mr-2">
        Reset
      </button>

      <button type="button"
              class="btn btn-primary  text-uppercase"
              (click)="submitForm()"
              [disabled]="registrationForm.get('name').invalid ||
                          registrationForm.get('email').invalid ||
                          registrationForm.get('password').invalid ||
                          registrationForm.get('companyName').invalid ||
                          registrationForm.get('domain').invalid ||
                          registrationForm.get('country').invalid ||
                          registrationForm.get('timeZone').invalid ||
                          registrationForm.get('businessSector').invalid ||
                          registrationForm.get('website').invalid"
      >
        Let's get started
      </button>
    </div>

  </div>
</form>
<div class="card" *ngIf="submitedData">
  <div class="card-header text-warning bg-danger text-center">Submited data</div>
  <div class="card-body bg-dark " style="color: wheat">
    This was submited:
    {{ submitedData | json }}
  </div>
</div>
