@import "../registration.component.css";
label {
  font-size: .8rem;
}

select {
  color: #84827F;
  padding-left: 1rem;
  border: none;
  border-radius: 0;
  height: 3.1rem !important;
  font-size: .8rem;
  position: relative;
}


.select-area {
  display: flex;
  align-items: center;
  border: 1px solid #D7D7D7;
  background-color: #fff;
  padding: 0 .2rem;
}
