<p>{{registrationForm.value | json}}</p>
<h2 class="mt-4 text-center text-uppercase title">
  TELL US MORE
</h2> <p class="subtitle-prefix">About: <span
  class="subtitle-content">{{registrationForm.get('companyName').value}}</span></p>
<form [formGroup]="registrationForm">
  <div class="form-group">
    <label for="country" class="field-require text-uppercase">
      Country:
    </label>
    <div class="select-area">
      <span class="arrow fa fa-angle-down"></span>
      <select name="country" id="country" class="form-control" formControlName="country">

        <option *ngFor="let country of countryList"
                [value]="country.code">
          {{ country.code }} - {{ country.name }}
        </option>

      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="field-require" for="timeZone">TIMEZONE</label>

    <div class="select-area">
      <span class="arrow fa fa-angle-down"></span>
      <select id="timeZone"
              class="form-control"
              formControlName="timeZone"

      >
        <option value="" selected disabled hidden> -- select an option --</option>
        <option *ngFor="let zone of allZone"
                [value]="zone.key"
        >
          {{ zone.key }} - {{ zone.value}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="businessSector">BUSINESS SECTOR:</label>
    <div class="select-area">
      <span class="arrow fa fa-angle-down"></span>
      <select name="businessSector"
              id="businessSector"
              class="form-control"
              formControlName="businessSector"
      >
        <option disabled selected value> -- select an option --</option>
        <option value="1">B Sector 1</option>

      </select>
    </div>
  </div>
  <app-vcinput inputType="text"
               label="add your business website url" i18n-label
               myControlName="website"
               placeholder="eg: www.some.business.com"
               [fieldRequire]="false"

  >
  </app-vcinput>

  <div class="d-flex  justify-content-end align-items-center flex-wrap">
    <button type="button"
            class="btn btn-primary  mr-2 mb-2 back-button"
            routerLink="../step1">
      Back
    </button>

    <div class="d-flex justify-content-end flex-wrap align-items-center mr-2">

      <p *ngIf="formStillHaveErrors" class="text-danger font-weight-bold align-middle icon-invalid mr-auto">
        The form still has errors.
      </p>


      <button type="button"
              class="btn btn-primary  text-uppercase mb-2"
              (click)="submitForm()"

      >
        Let's get started
      </button>
    </div>

  </div>
</form>
<div class="card" *ngIf="submitedData">
  <div class="card-header text-warning bg-danger text-center">Submited data</div>
  <div class="card-body bg-dark " style="color: wheat">
    This was submited:
    {{ submitedData | json }}
  </div>
</div>
