<p>
  {{registrationForm.value | json}}
</p>
<div class="social d-flex flex-wrap mt-4">
  <span class="mr-3">Connect with: </span>
  <a class="sign-in-button g-plus mr-3">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
    Sign up with Google+
  </a>
  <a class="sign-in-button fb mr-3">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    Sign up with Facebook</a>
</div>
<h2 class="mt-4 text-center text-uppercase">
  Your details</h2>
<div class="entryEmail" *ngIf="params.email">
  <p class="text-center">
    User: <span class="font-weight-bold">{{registrationForm.get('email').value}}</span>
    <a style="color: #e77f1d" (click)="onEditEmailToggle(emailInput)"><i class="fa fa-edit">Edit:</i></a>

  </p>
  <p class="text-danger small text-center" *ngIf="registrationForm.get('email').invalid">Email is inocorect!!</p>
</div>
<div class=""> <!--form_holder-->
  <form [formGroup]="registrationForm" class="d-flex flex-column">
    <div class="form-group">
      <label for="name" class="field-require text-uppercase">
        Name
      </label>
      <input id="name"
             name="name"
             type="text"
             class="form-control"
             placeholder="Enter Your Name"
             formControlName="name"
      >
      <app-error-displayer appFieldName="name"></app-error-displayer>
    </div>
    <div class="form-group " [ngClass]="{'first-item': params.email}" [hidden]="!editEmail">
      <label for="email" [hidden]="params.email" class="field-require text-uppercase">
        Email
      </label>
      <input id="email"
             name="email"
             #emailInput
             (blur)="onEditEmailToggle(emailInput)"
             (keyup)="onEnterPress($event)"
             type="email"
             class="form-control"
             placeholder="Enter email"
             formControlName="email"
      >
      <app-error-displayer appFieldName="email"></app-error-displayer>
    </div>
    <div class="form-group">
      <label for="password" class="field-require text-uppercase">
        Password
      </label>
      <input id="password"
             name="password"
             type="password"
             class="form-control"
             placeholder="Type password"
             formControlName="password"
      >
      <app-error-displayer appFieldName="password"></app-error-displayer>
    </div>
    <div class="form-group">
      <label for="domain" class="field-require text-uppercase text-uppercase">
        The URL of your shop on VoucherCart <small style="text-transform: none">for now only string startwith [a-dA-D] are valid</small>
      </label>
      <div class="input-group ">
        <input id="domain"
               name="domain"
               type="text"
               class="form-control"
               placeholder="Shop domain name"
               formControlName="domain"
        >

        <span class="input-group-addon bg-white" id="basic-addon2">@vouchercart.com</span>
      </div>

      <app-error-displayer appFieldName="domain"></app-error-displayer>
    </div>
    <div class="form-group">
      <label for="companyName" class="field-require text-uppercase">
        Company Name
      </label>
      <input id="companyName"
             name="companyName"
             type="text"
             class="form-control"
             placeholder="Company Name"
             formControlName="companyName"
      >
      <app-error-displayer appFieldName="companyName"></app-error-displayer>
    </div>

    <div class="d-flex justify-content-end align-items-start flex-wrap">
      <p class="mr-auto" id="footer-signin">
        Already have account?<br>
        <a href="#">Sign in here.</a>
      </p>
      <div class="d-flex justify-content-end flex-wrap ">
        <button type="button" (click)="registrationForm.reset()" class="btn btn-primary  mr-2">Reset</button>
        <button type="button"
                class="btn btn-primary "
                routerLink="../step2"
                [disabled]="registrationForm.get('name').invalid ||
                            registrationForm.get('email').invalid ||
                            registrationForm.get('password').invalid ||
                            registrationForm.get('companyName').invalid ||
                            registrationForm.get('domain').invalid ||
                            registrationForm.get('domain').pending
                "
        >
          Next
        </button>
      </div>
    </div>
  </form>
</div>



