label {
  font-size: .8rem;
}

input {
  padding-left: 1rem;
  border: none;
  border-radius: 0;
  height: 3.1rem !important;
  font-size: .8rem;
  position: relative;
}


.input-area {
  display: flex;
  align-items: center;
  border: 1px solid #D7D7D7;
  background-color: #fff;
  padding: 0 .2rem;
}


.custom-tekst {
  font-size: small !important;
  margin: 0 .2rem;
}

.valid {
  border: 1px solid #E67E22;
}
.invalid {
  border: 1px solid #E84C0F;
}
.icon {
  font-size: 1.1rem;
}
.icon-valid {
  color: #E67E22
}

.icon-invalid {
color: #E84C0F
}

.field-require:after {
content: ' *';
color: darkred;
vertical-align: super;
}




