<div class="form-group" [formGroup]="registrationForm">
  <label [for]="myControlName" class="field-require text-uppercase">
    Name {{controlObject.value}}
  </label>
  <div class="input-area">
    <input [id]="myControlName"
           [name]="myControlName"
           [type]="inputType"
           class="form-control"
           [placeholder]="placeholder"
           [formControlName]="myControlName"
           [ngClass]="{'field-require': require}"
           (blur)="onBlur($event)"
    >
    <div class="icon-area">
      <span>{{customText}}</span>
      <span  *ngIf="controlObject.valid && controlObject.touched"
             class="fa fa-check icon-valid">

      </span>
      <span *ngIf="controlObject.invalid && controlObject.touched"
            class="fa fa-times icon-invalid">

      </span>
    </div>


  </div>
  <div class="error-area">
    <app-error-displayer [appFieldName]="myControlName"></app-error-displayer>
  </div>
</div>
